.git
**/.git
node_modules
**/node_modules
.pnpm-store
**/.pnpm-store
dist
**/dist
coverage
**/coverage
test-results
playwright-report
blob-report
.env
.env.*
ssh.json
archive.zip
stats.json
stats.html
session_name.session
tasks.txt
